{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ], //ecmascript 5 y 6
    "@babel/preset-react" //jsx y react
  ],
  //carga reacthotloader con babel
  "plugins": ["react-hot-loader/babel", "@loadable/babel-plugin"]
}
