html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  #main {
    width: 100%;
  }
  line-height: 1.5;
  background: $body_background;
  font-size: 16px;
  height: 100%;
  .main-arrowup {
    position: fixed;
    z-index: 10;
    font-size: 5rem;
    font-weight: bold;
    right: 3vw;
    top: 62vh;
    display: none;
    cursor: pointer;
    &--show {
      display: initial;
      animation: opacity 1s cubic-bezier(0, 0.61, 0.42, 0.99);

      color: lighten(#6d8cfe, 5%);
    }
  }

  & #modal {
    position: fixed;
    display: flex;
    overflow-y: scroll;
    background: $background_modal;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100vh;
    z-index: 100;
    flex-wrap: wrap;
    .modal__article-image {
      width: 100%;
      min-height: 700px;
      .modal__article-image-item {
        width: 100%;
        padding: 0 7px;
        animation: entrada 0.3s;
        animation-timing-function: ease-in;
      }
    }
    .modal__height-auto {
      min-height: auto;
    }
    & .modal__title {
      @include box_title;
      margin-bottom: 3%;
    }
    & .modal__icon {
      position: absolute;
      color: white;
      font-size: 2em;
      right: 25px;

      cursor: pointer;
    }
    & .modal__btn--cerrar {
      @include button;
      padding: 7px;
      margin: 25px auto 10px auto;
      font-size: 1.4em;
    }

    & .modal__article-image-animation-enter {
      opacity: 0;
    }
    & .modal__article-image-animation-enter-active {
      opacity: 0.5;
      transition: opacity 300ms;
    }
    & .modal__article-image-animation-enter-done {
      opacity: 1;
    }
    & .modal__article-image-animation-exit {
      opacity: 1;
    }
    & .modal__article-image-animation-exit-active {
      opacity: 0.5;
    }
    & .modal__article-image-animation-exit-done {
      opacity: 0;
    }
  }
}

/*.container {

  Este formato ahora sera para el modal de curriculum
  display: grid;
  grid-template: 70px 1fr / minmax(310px, 25%) minmax(475px, 1fr);
  height: 100vh;
  grid-template-areas:
    'left nav'
    'left main';

}*/
//animacion
@keyframes entrada {
  0% {
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

// media querys
@include media(desktop) {
  body {
    .main-arrowup {
      font-size: 4.8rem;
      right: 2.5vw;
    }
    .main__title {
      &::before {
        right: -15vw;
        left: -0.3em;
      }
      &::after {
        right: -5vw;
        left: -3.5vw;
      }
    }
  }
}

@media only screen and (max-width: 980px) and (min-width: 935px) {
  body {
    .main-arrowup {
      font-size: 4.6rem;
      right: 1.4vw;
    }
  }
}
@include media(mobile-portrait) {
  body {
    .main-arrowup {
      font-size: 4rem;
      right: 1.2vw;
    }
  }
}
