html {
  height: 100%;
}
body {
  line-height: 1.5;
  background: $body_background;
  font-size: 16px;
  height: 100%;
  .main__title {
    position: relative;
    max-width: max-content;
    overflow: hidden;
    /*&::before {
        content: '';
        position: absolute;
        background-color: rgba($color: #55f9ff, $alpha: 0.3);
        top: 22px;
        right: -5vw;
        left: -0.4em;
        bottom: 0;
        z-index: -1;
      }*/
    &::after {
      content: '';
      animation-direction: reverse, reverse;
      position: absolute;
      border-top: 3px solid $dark_lines_color;
      top: 42px;
      right: -2.5vw;
      left: -2vw;
      bottom: -5px;
    }
    h1 {
      font-size: 1.6rem;
      padding: 0 60px 0 10px;
      will-change: opacity, transform;
      animation-name: opacity, translatey;
      animation-duration: 0.3s, 0.3s;
      animation-timing-function: linear, cubic-bezier(0, 0.61, 0.42, 0.99);
      animation-fill-mode: forwards, forwards;
    }
  }
  & #modal {
    position: fixed;
    display: flex;
    overflow-y: scroll;
    background: $background_modal;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    max-height: 100vh;
    z-index: 100;
    flex-wrap: wrap;
    .modal__article-image {
      width: 100%;
      min-height: 700px;
      .modal__article-image-item {
        width: 100%;
        padding: 0 7px;
        animation: entrada 0.3s;
        animation-timing-function: ease-in;
      }
    }
    .modal__height-auto {
      min-height: auto;
    }
    & .modal__title {
      @include box_title;
    }
    & .modal__icon {
      position: absolute;
      color: white;
      font-size: 2em;
      right: 25px;
      top: 25px;
      cursor: pointer;
    }
    & .modal__btn--cerrar {
      @include button;
      padding: 7px;
      margin: 25px auto 10px auto;
      font-size: 1.4em;
    }

    & .modal__article-image-animation-enter {
      opacity: 0;
    }
    & .modal__article-image-animation-enter-active {
      opacity: 0.5;
      transition: opacity 300ms;
    }
    & .modal__article-image-animation-enter-done {
      opacity: 1;
    }
    & .modal__article-image-animation-exit {
      opacity: 1;
    }
    & .modal__article-image-animation-exit-active {
      opacity: 0.5;
    }
    & .modal__article-image-animation-exit-done {
      opacity: 0;
    }
  }
}

/*.container {

  Este formato ahora sera para el modal de curriculum
  display: grid;
  grid-template: 70px 1fr / minmax(310px, 25%) minmax(475px, 1fr);
  height: 100vh;
  grid-template-areas:
    'left nav'
    'left main';

}*/
//animacion
@keyframes entrada {
  0% {
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

// media querys
@include media(desktop) {
  body {
    .main__title {
      &::before {
        right: -15vw;
        left: -0.3em;
      }
      &::after {
        right: -5vw;
        left: -3.5vw;
      }
    }
  }
}
@include media(mobile-only) {
}
