$conent-font: 'Titillium Web', sans-serif;
$nav-font: 'Khand', sans-serif;
//Variables
$title_color: #c0d0e4;
$link_color: rgb(246, 166, 203);

$body_background: linear-gradient(
  270deg,
  rgba(10, 94, 159, 1) 13%,
  rgba(24, 64, 125, 1) 75%
);

$color_link: rgb(255, 200, 210);

$box_title_background: linear-gradient(
  270deg,
  rgba(70, 117, 168, 0.3) 9%,
  rgba(255, 174, 237, 0.3) 100%
);
$margen_nav_main: 0 4%;

$background_modal: darken(
  $color: rgba(14, 11, 54, 0.918),
  $amount: 3,
);
$background_contact_card: darken(
  $color: rgba(14, 11, 54, 0.753),
  $amount: 3,
);
//mixin
@mixin button {
  font-family: Khand;
  font-weight: 600;
  background: rgb(246, 166, 203);
  background: linear-gradient(0deg, #ecbdd3 0%, #db819a 100%);
  box-shadow: -4px 5px 4px 0px #663e66;
  color: rgba(94, 43, 94, 1);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
}
@mixin main {
  display: grid;
  grid-area: main;
  margin: $margen_nav_main;
  font-family: 'Titillium Web';
}
@mixin box-title {
  display: flex;
  font-size: 1.25em;
  align-items: center;
  padding: 7px;
  height: 40px;
  background: $box_title_background;
  border-radius: 4%;
  color: white;
  width: 100%;
}
@mixin parrafo {
  margin: 0.1em;
  line-height: 1.35em;
  color: lighten(#bdc1cf, $amount: 5);
  font-size: 0.99em;
}
