$conent-font: 'Titillium Web', sans-serif;
$nav-font: 'Khand', sans-serif;
//Variables
$title_color: #c0d0e4;
$link_color: rgb(246, 166, 203);

$body_background: linear-gradient(
  270deg,
  rgba(10, 94, 159, 1) 13%,
  rgba(24, 64, 125, 1) 75%
);

$color_link: rgb(255, 200, 210);
$carousel_background: linear-gradient(
  1deg,
  rgba(15, 41, 61, 0.95) 0%,
  rgba(224, 219, 236, 0.3) 100%
);

$carousel_selected_background: linear-gradient(
  329deg,
  rgba(84, 143, 188, 1) 46%,
  rgba(104, 178, 206, 1) 100%
);

$breakdown_background: linear-gradient(
  329deg,
  rgba(113, 185, 204, 0.04) 13%,
  rgba(225, 219, 236, 0.2) 100%
);

$box_title_background: linear-gradient(
  270deg,
  rgba(70, 117, 168, 0.3) 9%,
  rgba(255, 174, 237, 0.3) 100%
);
$margen_nav_main: 0 4%;

//mixin
@mixin button {
  font-family: Khand;
  font-weight: 600;
  background: rgb(246, 166, 203);
  background: linear-gradient(
    0deg,
    rgba(246, 166, 203, 1) 0%,
    rgba(231, 152, 174, 1) 100%
  );
  box-shadow: -4px 5px 0px -1px rgba(94, 43, 94, 1);
  color: rgba(94, 43, 94, 1);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9em;
  padding: 5px;
}
@mixin main {
  display: grid;
  grid-area: main;
  margin: $margen_nav_main;
  font-family: 'Titillium Web';
}
@mixin box-title {
  display: flex;
  font-size: 1.25em;
  align-items: center;
  padding: 7px;
  height: 40px;
  background: $box_title_background;
  border-radius: 4%;
  color: white;
  width: 100%;
}
@mixin parrafo {
  margin: 0.1em;
  line-height: 1.35em;
  color: lighten(#bdc1cf, $amount: 1);
  font-size: 0.99em;
}
