@import '../Vars.scss';
@import '../breakpoints.scss';
.main-aside {
  box-shadow: 0.1px 0px 7px 10px rgba(82, 155, 224, 0.082);
  grid-area: left;
  color: white;
  width: 100%;
  min-width: 315px;
  height: 100%;
  background-color: lighten($color: rgba(82, 155, 224, 0.082), $amount: 0);
  position: relative;
  &__background {
    img {
      width: 100%;
    }
  }
  &__contact {
    margin-top: 5%;
  }
  &__title {
    height: 100%;
    h2 {
      @include box-title;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 0.5em;
    }
    h1 {
      font-family: Khand;
      font-weight: bold;
      padding: 30px 0 0 0;
      text-align: center;
      font-size: 2.3em;
      margin-bottom: 0.2em;
    }
  }

  & .main-aside__name {
    font-family: Khand;
    font-weight: 600;
    font-size: 1.45em;
    color: #e8f3ff;
    justify-content: center;
    margin: 0 0 70% 0;
    width: 100%;
    text-align: center;
  }
  svg {
    margin: 2px 5px 0 0;
  }
  p {
    @include parrafo;
    display: flex;
    padding: 0 4%;
  }
  a {
    @include parrafo;
    display: flex;
    padding: 0 4%;
    color: $link_color;
    cursor: pointer;
    &:hover {
      a {
        text-decoration: underline;
      }
    }
  }
}
// -----------------------MEDIA QUERIES -------------------------
@include media(mobile-only) {
  .main-aside {
    height: max-content;
    &__profile {
      width: 35%;
      padding: 0 5%;
      position: absolute;
      top: 17%;
      img {
        width: 100%;
      }
    }
    &__title {
      position: absolute;
      width: 65%;
      top: 0;
      left: 35%;
      h1 {
        font-size: 3em;
      }
    }
    & .main-aside__name {
      font-size: 2em;
    }
    &__contact {
      position: absolute;
      width: 47%;
      margin: 0 9%;
      top: 38%;
      left: 35%;
      background-color: darken($color: rgba(8, 70, 129, 0.726), $amount: 3);
    }
    &__objetive {
      position: absolute;
      visibility: hidden;
      top: 0;
    }
  }
}
