@import '../Vars.scss';
@import '../breakpoints.scss';
.main-aside {
  $self: &;
  position: relative;
  box-shadow: 0.1px 0px 7px 10px rgba(82, 155, 224, 0.082);
  grid-area: left;
  color: white;
  width: 100%;
  min-width: 315px;
  height: 100%;
  background-color: lighten($color: rgba(82, 155, 224, 0.082), $amount: 0);
  .visibility {
    visibility: visible;
  }
  &__background {
    img {
      width: 100%;
    }
  }
  &__profile {
    position: absolute;
    margin-top: 36%;
    width: 100%;
    height: auto;
    padding: 0 30%;
    top: 0;
    img {
      width: 100%;
    }
  }
  &__btn,
  &__btn--cerrar {
    visibility: hidden;
  }
  &__title {
    position: absolute;
    width: 100%;
    height: max-content;
    top: 0;
    h1 {
      font-family: Khand;
      font-weight: bold;
      padding: 30px 0 0 0;
      text-align: center;
      font-size: 2.3em;
      margin-bottom: 0.2em;
    }
    #{$self}__name {
      font-family: Khand;
      font-weight: 600;
      font-size: 1.45em;
      color: #e8f3ff;
      justify-content: center;
      width: 100%;
      text-align: center;
    }
  }
  h2 {
    @include box-title;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }
  &__contact {
    margin-top: -23%;
    display: flex;
    flex-direction: column;
  }
  &__objetive {
    display: flex;
    flex-direction: column;
  }
  svg {
    margin: 2px 5px 0 0;
  }
  p {
    @include parrafo;
    display: flex;
    padding: 0 4%;
  }
  a {
    @include parrafo;
    width: max-content;
    display: flex;
    padding: 0 4%;
    color: $link_color;
    cursor: pointer;
    &:hover {
      a {
        text-decoration: underline;
      }
    }
  }
}
// -----------------------MEDIA QUERIES -------------------------
//tablet
@include media(mobile-only) {
  .main-aside {
    height: max-content;
    &__profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 42%;
      padding: 0 7%;
      margin-top: 0;
    }
    &__title {
      width: 68%;
      left: 32%;
      h1 {
        width: 100%;
        font-size: 2.9em;
        margin-bottom: 0;
      }
    }
    &__btn {
      @include button;
      padding: 7px;
    }
    & .career {
      visibility: visible;
    }
    &__btn--cerrar {
      @include button;
      margin: 10px auto;
      padding: 5px;
      font-size: 1em;
      margin-top: 7px;
    }
    & .career-close {
      visibility: inherit;
    }
    &__name {
      font-size: 2em;
    }
    &__contact {
      position: absolute;
      width: 47%;
      margin: 0 9%;
      top: 31%;
      left: 35%;
      background-color: $background_contact_card;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 9px;
      p {
        color: white;
      }
      h2 {
        font-size: 0.8em;
        height: 29px;
      }
    }
    &__objetive {
      position: absolute;
      visibility: hidden;
      top: 0;
      padding-bottom: 20px;
      background-color: $background_modal;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 9px;
    }
  }
}

//mobile iphone xs
@include media(mobile-xs) {
  .main-aside {
    $self: &;
    height: max-content;
    &__profile {
      width: 40%;
      padding: 0 5%;
      img {
        padding-bottom: 7%;
      }
    }
    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 65%;
      left: 35%;
      h1 {
        padding: 0;
      }
      #{$self}__name {
        color: #15308b;
      }
    }
    &__btn {
      visibility: visible;
      margin: 0 auto;
      padding: 5px;
      font-size: 0.8em;
    }
    & .contact-close,
    & .career-close {
      visibility: inherit;
    }
    &__contact {
      visibility: hidden;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      background-color: $background_modal;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 9px;
    }
  }
}

//mobile xs
@media only screen and (max-width: 437px) {
  .main-aside {
    $self: &;
    &__title {
      h1 {
        font-size: 2.5em;
      }
      #{$self}__name {
        font-size: 0.99em;
      }
    }
  }
}
