@import '../Vars.scss';
@import '../breakpoints.scss';
.main-cv {
  @include main;
  grid-template: 10px 1fr / repeat(3, 1fr);
  grid-template-areas:
    'title title title'
    'articlea articleb articlec';
  grid-column-gap: 1em;
  color: white;
  &__title-page {
    grid-area: title;
    color: $title_color;
    font-size: 1.09em;
    padding: 10px 0;
  }
  a {
    @include parrafo;
    display: block;
    width: max-content;
    color: $link_color;
    cursor: pointer;
    outline: none;
    &:hover {
      a {
        text-decoration: underline;
        outline: none;
      }
    }
  }

  article {
    h2 {
      @include box-title;
    }
    p {
      @include parrafo;
    }
    .main-cv__subtitle {
      color: lighten($title_color, $amount: 7);
      width: 100%;
      font-size: 1.4em;
      margin-top: 1.4em;
      margin-bottom: 0.9em;
    }
    .main-cv__subtitle:nth-of-type(1) {
      margin-top: 0.5em;
    }
    h4 {
      margin-bottom: 1.1em;
      margin-top: -1em;
      color: $link_color;
      //color: lighten($title_color, $amount: 3);
      font-weight: 600;
    }
    small {
      font-size: 0.7em;
      position: relative;
      bottom: 1.5em;
    }
    ul {
      @include parrafo;
      padding: 0 0.7em 0 1.2em;
    }

    & .article__wrapper-span {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      color: lighten($title_color, $amount: 5);
    }
    span {
      font-size: 0.9em;
      margin: 3px;
      padding: 3px 6px;
      background-color: rgba($color: #ffffff, $alpha: 0.1);
    }
    .article__icon {
      display: flex;
      justify-content: space-around;
      svg {
        margin-top: 10px;
        width: 50px;
      }
    }
  }
  .article-a {
    grid-area: articlea;
  }
  .article-b {
    grid-area: articleb;
  }
  .article-c {
    grid-area: articlec;
  }
}
// -----------------------MEDIA QUERIES -------------------------

//tablet and desktop content
@media only screen and (max-width: 1244px) {
  .main-cv {
    grid-template: 10px 1fr 1fr / repeat(2, 1fr);
    grid-template-areas:
      'title title'
      'articlea articleb'
      'articlec articlec ';
  }
}

//mobile xs

@include media(desktop) {
  .main-cv {
    grid-template: 10px 1fr 1fr 1fr/ 1fr;
    grid-template-areas:
      'title '
      'articlea'
      'articleb'
      'articlec';
    .article-c {
      margin-top: 5%;
    }
  }
}
