@import '../Vars.scss';
@import '../breakpoints.scss';
nav {
  grid-area: nav;
  font-family: $nav-font;
  font-weight: 400;
  height: 100%;
  font-size: 1.09em;
  border-bottom: 1px solid gray;
  color: white;
  margin: $margen_nav_main;
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    height: inherit;
    list-style: none;
    padding-left: 0;
    li {
      padding: 0 10px;
      & .link {
        color: white;
        text-decoration: none;
      }
      & .active {
        font-size: 1.11em;
        color: $color_link;
        text-decoration: none;
        border-bottom: 3px solid $color_link;
      }
    }
  }
}
// -----------------------MEDIA QUERIES -------------------------
//tablet
@include media(mobile-only) {
  nav {
    ul {
      justify-content: center;
    }
  }
}
