@import '../Vars.scss';
.main-portfolio {
  $self: &;
  @include main;
  display: grid;
  grid-template: 10px 1fr/ 1fr;
  grid-template-areas:
    'title'
    'carousel';

  &__title {
    grid-area: title;
    color: $title_color;
    font-size: 1.09em;
    padding: 10px 0;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: inherit;
    width: 100%;
  }
  &__item {
    background-color: red;
    width: 30%;
    img {
      width: 100%;
    }
    /* #{$self}__item-text {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgb(95, 165, 189);
      background: $carousel_background;
      p {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        color: #312a3a;
        font-weight: bold;
        color: white;
        padding: 10px 0;
      }
    }*/
  }
}
.main--reel {
  @include main;
}
//-------------------------  ANIMATION  ----------
